:root {
  --main-family: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --color-blue: #2196f3;
  --hover-blue: #188ce8;
  --text-color-gray: #757575;
  --text-color-black: #212121;
  --decoration-color-black: #000000;
  --decoration-color-white: #ffffff;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --address-text-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: var(--main-family);
  color: var(--text-color-black);
}
.link {
  text-decoration: none;
}
.link:hover {
  color: var(--color-blue);
}
.nav-link {
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.nav-link.current {
  color: var(--color-blue);
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color-gray);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--color-blue);
}
.dark {
  color: var(--decoration-color-black);
}
.dark:hover {
  color: var(--decoration-color-black);
}
.light {
  color: var(--decoration-color-white);
}
.list {
  list-style-type: none;
}
.collection-deskript {
  color: var(--text-color-gray);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.hero {
  background-color: var(--background-color-dark);
  color: var(--decoration-color-white);
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: calc(60 / 44);
  text-transform: uppercase;
}
.button {
  background-color: var(--color-blue);
  color: var(--decoration-color-white);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 00.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: var(--hover-blue);
  color: var(--decoration-color-white);
}
.selection {
  background-color: var(--background-color-light);
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
}
.collection-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color-black);
  text-transform: uppercase;
}
.project {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--text-color-black);
}
.project-descript {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color-gray);
}
.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--decoration-color-black);
  text-align: center;
  letter-spacing: 0.03em;
}
.text {
  color: var(--text-color-gray);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.topic {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.tim {
  background-color: var(--background-color-light);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.footer {
  background: var(--background-color-dark);
}
.address {
  font-style: normal;
}
.address-link {
  color: var(--address-text-color);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.accent {
  color: var(--decoration-color-white);
}